body{
    background-image: url(../images/background.png);
    /* background: white (0, 128, 0) */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    /* font-family: 'Estonia', cursive; */
}
.container{
    width: 100%;    
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 1%;
}
.logo{
    width: 260px;
    cursor: pointer;
    border-radius: 5px;
    /* position: fixed; */
}
nav{
    flex: 1;
    padding-left: 80px;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-family: 'Estonia', cursive;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(63, 9, 9);
}
h1{
    text-align: center;
    font-family: 'Estonia', cursive;
}
.content{
  margin: 5%;
}
h2{
    font-family: 'Estonia', cursive;
}
h3 {
    font-family: 'Estonia', cursive;
    text-align: center;
}
p2{ 
    font-family: 'Estonia', cursive;
}
p{
    text-align: center;
    font-family: 'Estonia', cursive;
}
footer{
    text-align: center;
    font-family: 'Estonia', cursive;
}